*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:#f8fafc;
    color:#030712;
    min-width:300px;
}

header{
    background:lightblue;
    padding:20px;
}
header h1{
    color:black;
    text-align:center;
}
.score-board{
    width:30%;
    margin:20px auto;
    font-size:45px;
    border-radius:2px;
    text-align:center;
    padding:15px 20px;  
    position:relative; 
}
.badge{
    font-size:20px;
    padding:2px 10px;
    border-radius:5px;
}
#user-label{
    position: absolute;
    top:0px;
    left:0px;
}
.vs-label{
    font-size:17px;
    width:40px;
    margin:0px auto;
}
#computer-label{
    position: absolute;
    top:0px;
    right:0px;
}
.result{
    font-size:30px;
    
}
.result p{
    text-align:center;
}
img{
    height:150px;
    width:150px;
}
.choice{
    display: inline-block;
    padding:10px;
    margin:0px 10px;
    border:1px solid whitesmoke;
    border-radius:1em;
    transition: all 0.5s ease;
}
.choice :hover{
    cursor: pointer;
    background:white;

}
.green-color{
    background: #4dcc7d;
    box-shadow: 0 0 5px #31b43a;
}
.red-color{
    background: #fc121b;
    box-shadow:0 0 5px #d01115;
}
.grey-color{
    background:grey;
    box-shadow: 0 0 5px #252926;
}
.choices{
    text-align:center;
    margin:1rem;
}
#action-message{
    text-align:center;
    font-weight:700px;
    font-size:20px;
}
@media screen and (max-width:810px){
    .score-board{
        font-size:2rem;
    }
    #user-label,#computer-label{
        position: relative;
    }
    #user-score,#computer-score{
        display: inline-block;
    }
}
@media screen and (max-width:650px) {
    .result{
        font-size:1.5rem; 
    }
    img{
        height:8rem;
        width:8rem;
    }
    .choice{
        margin:.5rem;
    }
}